@import "partials/_variables.scss";
h1{
    color: $base-color;
    font-family: sans-serif;
}

body{
    color: green;
}

h2{
    color:blue($color: #000000);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: red;
}